*{
    margin:0;
    padding:0;
}


.navcontacto{
    float:right;
    ul{
        list-style: none;
        li{
            display:inline-block;
            margin-right: 10px;
            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif;
            a{
                text-decoration:none;
                color: rgb(244, 228, 252);
                font-size: 18px; 
                text-decoration: underline;
            }
            
        }
    
    }
}

.bodycontacto{
    background-color: rgba(135, 216, 189, 0.822);
}
.main__h1--colorcontacto{
    width: 100%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.titulo__h1--fontcontacto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo__h1--sizecontacto{
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}
.section__contacto{ 
    background-color: rgba(78, 158, 111, 0.274);
    .h2__contacto{
        font-size: 25px;
        text-decoration: underline;
        margin-left: 16px;
        margin-top: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}
.section__carouselcontacto {
    width: 65%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fotocarouselContacto{
    width: 100%;
    object-fit: contain;
}

.contacto__estilo h3{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .seguime{
        font-size: 20px;
    }
}

.imagenes__redescont:hover{
    transform:scale(1.2);
}

@media (max-width: 576px){
    .titulo__h1--sizecontacto{
        font-size: 21px;
        text-align: center;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 8px;
    }

    .section__contacto{
        .h2__contacto{
            font-size: 19px;
        }   
    }
    .section__carouselcontacto {
        width: 75%;
        .seguime h3{
            font-size: 18px;
        }
    }
    .contacto__estilo h3{
        font-size: 13px;
        .seguime{
            font-size: 23px;
        }
    }
    .section__form--style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h3{
        font-size: 17px;
        margin-top: 5px;
    }
    }
    
    .datos{
        height: 40px;
        margin-top: 2rem;
        margin-left: 1rem;
        line-height: 5px;
            input{
            width: 50%;
            border-bottom: 1px solid rgba(26, 104, 61, 0.863);
        }
    }
    .datos2{
        height: 10px;
        margin-left: 1rem;
        line-height: 5px;
        border-radius: 10px;
        input{
            width: 46%;
        }
    }
    .mail{
        height: 10px;
        margin-top: 2rem;
        margin-left: 1rem;
        line-height: 5px;
        border-radius: 10px;
        input{
            width: 40%;
        }
    }
    .mensaje{
        height: 20px;
        margin-top: 3rem;
        margin-left: 1rem;
        line-height: 5px;
        border-radius: 10px;
        }
    }

    .botones{
        width: 50px;
        height: 60px; 
        margin-top: 9rem;
        margin-left: 1rem;
        line-height: 25px;
        input{
            width: 60px;
            height: 20px;
            padding: 2px 2px 3px 3px;
        }
    }
    .footer__contacto{
        font-size: 11px; 
        .nav__contacto{
        font-size: 11px;
        }
        p{
            font-size: 11px;
        }
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px){
    .titulo__h1--sizecontacto {
        font-size: 35px;
        margin-left: 0px;
        margin-top: 8px;
        text-align: center;
            .titulo__h1--colorcontacto {
            text-align: center;
            }  
    }
    
    .h2__contacto{
        font-size: 30px;
    }

    .form { 
        width: 100%;
        .botones{  
        margin-left: 0px;
        padding-top: 2rem;
        padding-left: 0px;
    }
    }
}
@media only screen and (min-width: 993px){
    .titulo__h1--sizecontacto{
        font-size: 40px;
        margin-left: 10rem;
        margin-top: 8px;
        margin-bottom: 15px;
        letter-spacing: 5px;
    }
    
    .h2__contacto{
        font-size: 40px;
    }
    .botones{  
        margin-left: 0px;
        padding-top: 4rem;
        padding-left: 0px;
        text-align: center;
        line-height: 5px;
    }
}

.section__form--style{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h3{
        font-size: 22px;
        margin-top: 5px;
    }
}
.form{
    height: 100vh;
    width: 80%;
    margin-bottom: 3px;
    padding: 1rem;
    padding: 5px 5px 5px 5px;
}

.form .ficha{
    width: 100%;
    height: 85vh;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid rgba(26, 104, 61, 0.432);
    box-shadow: 7px 13px 35px rgba(7, 7, 7, 0.473);
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

.datos{
    height: 40px;
    margin-top: 2rem;
    margin-left: 1rem;
    line-height: 5px;
        input{
        width: 59%;
        }
}
.datos2{
    height: 10px;
    margin-left: 1rem;
    line-height: 5px;
    border-radius: 10px;
    input{
        width: 74%;
        background-color: rgba(253, 255, 254, 0.63);
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(26, 104, 61, 0.863);
    }
}
.mail{
    height: 10px;
    margin-top: 2rem;
    margin-left: 1rem;
    line-height: 5px;
    border-radius: 10px;
    input{
        width: 81%;
        background-color: rgba(253, 255, 254, 0.63);
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(26, 104, 61, 0.863);
    }
}
.mensaje{
    height: 20px;
    margin-top: 3rem;
    margin-left: 1rem;
    line-height: 5px;
    border-radius: 10px;
    #texto{
        background-color: rgba(253, 255, 254, 0.63);
        border-bottom: 1px solid rgba(26, 104, 61, 0.863);
    }
}
.mensaje h4{
    font-size: 15px;
    margin-top: 10px;
    margin-top: 10px;

}
.mensaje1{
    margin-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#texto{
    width: 90%;
    height: 30vh;
}
.botones{
    width: 50px;
    height: 60px; 
    margin-top: 9rem;
    margin-left: 1rem;
    line-height: 25px;
    input{
        width: 100px;
        height: 30px;
        background-color: rgba(253, 255, 254, 0.63);
        border-bottom: 1px solid rgba(26, 104, 61, 0.788);
        padding: 2px 2px 3px 3px;
    }
}
.footer__contacto{
    background-image: linear-gradient(rgba(138, 221, 193, 0.822), rgba(73, 117, 103, 0.938));
    height: 90px;
    color: #050505;
    font-size: 16px;
    text-align: center;
    font-variant: small-caps;
    .footer__nav__contacto {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 18px;
        color: #050505;
        .nav__contacto{
            text-align: center;
            justify-content: center;
            li a{
            color:black;
            text-decoration: underline;
            }
        }
    }
    p{
        padding-top: 10px;
    }   
} 