*{
    margin: 0;
    padding: 0;
}
.main__h1--colorexpo{
    width: 100%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.titulo__h1--fontexpo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo__h1--sizeexpo{
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}

.navexpo{
    float:right;
    ul{
        list-style: none;
        li{
            display:inline-block;
            margin-right: 10px;
            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif;
            a{
                text-decoration:none;
                color: rgb(0, 0, 12);
                font-size: 15px; 
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-decoration: underline;
            }
            
        }
    
    }
}
.section__tituloexpo{
    background-color: rgb(125, 184, 174) ;
    margin-top: 10px;
    .h2__exposiciones{
    color: rgb(1, 0, 12);
    font-size: 25px;
    text-decoration: underline;
    margin-left: 16px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}


.bodyexpo{
    background-color: rgb(202, 238, 231);
}
.main__carousel__expos{
    border: 9px solid #e4faf5ce;
}


@media only screen and (max-width: 420px) {
.fotocarousel{
    width: 100%;
    height: 45vh;
}
}
@media only screen and (min-width: 421px) and (max-width: 576px) {
.fotocarousel{
    width: 100%;
    height: 70vh;
}
}
@media only screen and (max-width: 576px) {
    .titulo__h1--sizeexpo{
        font-size: 21px;
        margin-left: 35px;
        margin-right: 35px;
        margin-top: 8px;
    }
    .section__tituloexpo{
        height: 50px;
        .h2__exposiciones{ 
        font-size: 19px; 
        }
    }
    
.section__box--dise単o {
        width: 100%;
        color:rgb(24, 24, 24);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
    
@mixin sizes($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;
}
.box {
    @include sizes(100%, 60vh, rgba(192, 231, 225, 0.842));
    display:grid;
    justify-content: center;
    line-height: 13px;
    font-size: 12px;
    padding: 20px 25px 25px 15px;
    .textobox1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        text-decoration: underline;
        margin-bottom: 12px;
        padding-bottom: 0px;
        margin-top: 10px;
    }
}
.box2 {
    @include sizes(100%, 55vh, rgb(167, 218, 209));
    color: rgb(22, 22, 22);
    display:grid;
    justify-content: center;
    line-height: 13px;
    font-size: 12px;
    padding: 20px 25px 25px 15px;
    .textobox2{
        text-decoration: underline;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
    }
}

.box3 {
    @include sizes(100%, 80vh,  rgba(192, 231, 225, 0.842));
    color: rgb(29, 29, 29);
    display:grid;
    justify-content: center;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    padding: 20px 25px 25px 15px;
    .textobox2{
        text-decoration: underline;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        padding-bottom: 0px;
        margin-bottom: 12px;
        margin-top: 10px;
    }
    dd{
        font-size: 10px;
    }
}
.box4 {
    @include sizes(100%, 70vh, rgb(167, 218, 209));
    color: rgb(22, 22, 22);
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    padding-top: 25px;
    display:grid;
    justify-content: center;
    .textobox4{
        font-size: 16px;
    }
    .notas dl dd{
        font-size: 11px;
    }
}
}

.article__fotosalpie{
 
$base-color: rgba(230, 244, 245, 0.719);

@for $in from 1 through 2{
    .bucle-#{$in}{
        width: 100%;
        height: 9vh;
        background-color: darken($base-color, $in * 3%);
        border: 1px inset  rgba(197, 235, 235, 0.911);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 9px;
        line-height: 13px;
        text-align: center;
    }
}
}
.footer__expo {
    font-size: 7px;
    padding-top: 2px;
}
}
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .titulo__h1--sizeexpo {
        font-size: 35px;
        margin-left: 0px;
        margin-top: 8px;
        text-align: center;
            .titulo__h1--colorexpo {
            text-align: center;
        }  
    }

    .section__tituloexpo{
        .h2__exposiciones{ 
        font-size: 30px;
    }
    }
.fotocarousel{
        width: 100%;
        height: 70vh;
}
.section__box--dise単o {
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
    
@mixin sizes($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;
}
.box {
    @include sizes(100%, 80vh, rgba(192, 231, 225, 0.842));
    display:grid;
    justify-content: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
    .textobox1{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        text-decoration: underline;
        margin-bottom: 15px;
    }
}

.box2 {
    @include sizes(100%, 55vh, rgb(167, 218, 209));
    color: rgb(22, 22, 22);
    display:grid;
    justify-content: center;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
    .textobox2{
        text-decoration: underline;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px;
        margin-bottom: 15px;
        padding: 0px;
    }
}

.box3 {
    @include sizes(100%, 100vh,  rgba(192, 231, 225, 0.842));
    color: rgb(29, 29, 29);
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
    .textobox2{
        font-size: 16px;
        margin-bottom: 15px;
        padding: 0px;
    }
}

.box4{
    @include sizes(100%, 70vh, rgb(167, 218, 209));
    color: rgb(29, 29, 29);
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
    .textobox4{
        font-size: 16px;
        padding: 0px;
        margin-bottom: 15px;
    }
}
}
.article__fotosalpie{

$base-color: rgba(230, 244, 245, 0.719);

@for $in from 1 through 2{
    .bucle-#{$in}{
        width: 100%;
        height: 9vh;
        background-color: darken($base-color, $in * 3%);
        border: 1px inset  rgba(197, 235, 235, 0.911);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}
}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .titulo__h1--sizeexpo {
        font-size: 40px;
        margin-left: 10rem;
        margin-top: 8px;
        margin-bottom: 15px;
        letter-spacing: 5px;
    }
    .section__tituloexpo{
        .h2__exposiciones{ 
        font-size: 40px;
        }
    }
    .fotocarousel{
        width: 100%;
        height: 69vh;
    }
    .section__box--dise単o {
        width: 100%;
        color:rgb(24, 24, 24);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
        text-align: center;
        
    
@mixin sizes($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;
}
.box {
    @include sizes(100%, 60vh, rgba(192, 231, 225, 0.842));
    display:grid;
    justify-content: center;
    line-height: 30px;
    font-size: 20px;
    padding: 30px 50px 50px 30px;
    .textobox1{
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        margin-bottom: 35px;
    }
}

.box2 {
    @include sizes(100%, 50vh, rgba(167, 218, 209, 0.315));
    color: rgb(22, 22, 22);
    display:grid;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 30px 50px 50px 30px;
    .textobox2{
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        margin-bottom: 35px;
    }
}

.box3 {
    @include sizes(100%, 80vh,  rgba(192, 231, 225, 0.842));
    color: rgb(29, 29, 29);
    display:grid;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 30px 50px 50px 30px;
    .textobox2{
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
        margin-bottom: 35px;
    }
}
}
.article__fotosalpie{

$base-color: rgba(230, 244, 245, 0.719);

@for $in from 1 through 2{
    .bucle-#{$in}{
        width: 100%;
        height: 10vh;
        background-color: darken($base-color, $in * 3%);
        border: 1px inset  rgba(197, 235, 235, 0.911);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 11px;
        line-height: 25px;
        text-align: center;
    }
}
}
}


/*--Fin Media--*/

.section__box--dise単o {
    color:rgb(24, 24, 24);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.textobox1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 0px;
}
.textobox2{
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.textobox4{
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

@mixin sizes($width, $height, $bcolor) {
    height: $height;
    width: $width;
    background-color: $bcolor;
}
.box {
    @include sizes(100% , 60vh, rgba(192, 231, 225, 0.842));
    display:grid;
    justify-content: center;
    margin-top: 1px;
}

.box2 {
    @include sizes(100%, 50vh, rgb(167, 218, 209));
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    padding: 32px 25px 10px 10px;
    display:grid;
    justify-content: center;
}

.box3 {
    @include sizes(100%, 70vh,  rgba(192, 231, 225, 0.842));
    color: rgb(29, 29, 29);
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    padding: 20px 25px 25px 15px;
    display:grid;
    justify-content: center;
    dl dd{
        margin-top: 15px;
    }
}
.box4 {
    @include sizes(100%, 60vh, rgb(167, 218, 209));
    color: rgb(22, 22, 22);
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    padding: 20px 25px 25px 15px;
    display:grid;
    justify-content: center;
    dl{
        margin-top: 25px;
    }
}

.article__fotosalpie{
.expoarmenia-icon,
.expoescultura-icon {
    height: 90vh;
    width: 10%;
    border: 2px solid, rgb(35, 35, 36);
}

@each $expo in expoarmenia , expoescultura{
    .#{$expo}-icon {
    background-image: url("../img2/#{$expo}.jpg");
    background-size: cover;
    text-align: center;
    justify-content:space-around;
    }
}

$base-color: rgba(230, 244, 245, 0.719);

@for $in from 1 through 2{
    .bucle-#{$in}{
        width: 100%;
        height: 9vh;
        background-color: darken($base-color, $in * 3%);
        border: 1px inset  rgba(197, 235, 235, 0.911);
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
        line-height: 25px;
        text-align: center;
    }
}
}
.footer__expo {
    background-color:rgba(131, 182, 173, 0.534);
    height: 40px;
    color: #050505;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-align: center;
    font-variant: small-caps; 
}

