*{
    margin: 0;
    padding: 0;
}


.navgaleria{
    float:right;
    ul{
        list-style: none;
        li{
            display:inline-block;
            margin-right: 20px;
            text-transform: capitalize;
            font-family: 'Montserrat', sans-serif;
            a{
                text-decoration:none;
                color: rgb(7, 0, 14);
                font-size: 18px; 
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                text-decoration: underline;
            }
        }
    
    }
}

.bodygaleria{
    background-color: rgba(202, 143, 236, 0.61);
}
.main__h1--colorgaleria{
    width: 100%;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.titulo__h1--fontgaleria{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo__h1--sizegaleria{
    font-size: 30px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
}
.galeriadefotos{
    height: 800px;
    width: 100%;
    background-color: rgba(214, 136, 250, 0.788);
    margin-bottom: 50px;
    margin-top: 10px;
    h2{
        min-height: 30px;
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline rgb(36, 2, 56);
        float:left;
        margin-left: 16px;
        margin-top: 14px;
    }   
}

.galeriadefotos .contenedor{
    width: 100%;
    height: 800px;
    background-color: rgb(215, 160, 231);
    display:grid;
}


.galeriadefotos .img{
    border:2px solid rgba(255, 255, 255, 0.733);
    .img:hover{
        transform: scale(3);
        transition: all 1.2s;
    }
}


@media only screen and (min-width:320px) and (max-width:479px){
    .titulo__h1--sizegaleria {
        font-size: 21px;
        text-align: center;
        margin-left: 1rem;
        margin-top: 8px;
            .titulo__h1--colorgaleria {
            text-align: center;
        }  
    }
    .galeriadefotos .contenedor{ 
        grid-template-columns: repeat(2, 1fr);
        }
    .img1{
        grid-column: 1/3;
        grid-row: 1/2;
        background-image: url(../GaleriadeFotos/hospitaldeclinicas.jpg);
        background-size: cover;
        background-position:center;
    }
    .img2{
        grid-column: 1/2;
        grid-row: 2/3;
        background-image: url(../GaleriadeFotos/tomates.jpg);
        background-size: cover;
        background-position:center;
    }
    .img3{
        grid-column: 2/3;
        grid-row: 2/4;
        background-image: url(../GaleriadeFotos/condorandino.JPG);
        background-size: cover;
        background-position:center;
    }

    .img4{
        grid-column: 1/2;
        grid-row: 3/4;
        background-image: url(../GaleriadeFotos/naturalezamuerta.jpg);
        background-size: cover;
        background-position:center;
    }
    .img5{
        grid-column: 1/3;
        grid-row: 4/5;
        background-image: url(../GaleriadeFotos/muralmanuelita.jpg);
        background-size: cover;
        background-position:center;
    }
    .img6{
        grid-column: 1/2;
        grid-row: 5/6;
        background-image: url(../GaleriadeFotos/reproduccion.jpg);
        background-size: cover;
        background-position:center;
    }
    .img7{
        grid-column: 2/3;
        grid-row: 5/6;
        background-image: url(../GaleriadeFotos/terracota.jpg);
        background-size: cover;
        background-position:center;
    }
    .footer__galeria{
        font-size: 10px;
    }
}

@media only screen and (min-width:480px) and (max-width:768px){
    .titulo__h1--sizegaleria {
        font-size: 35px;
        text-align: center;
        margin-left: 0px;
        margin-top: 8px;
            .titulo__h1--colorgaleria {
            text-align: center;
        }  
    }
    .galeriadefotos .contenedor{ 
    grid-template-columns: repeat(3, 1fr);
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/3;
        background-image: url(..//GaleriadeFotos/terracota.jpg);
        background-size: cover;
        background-position:center;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
        background-image: url(../GaleriadeFotos/tomates.jpg);
        background-size: cover;
        background-position:center;
    }
    .img3{
        grid-column: 2/3;
        grid-row: 2/3;
        background-image: url(../GaleriadeFotos/reproduccion.jpg);
        background-size: cover;
        background-position:center;
    }
    .img4{
        grid-column: 3/4;
        grid-row: 1/3;
        background-image: url(..//GaleriadeFotos/condorandino.JPG);
        background-size: cover;
        background-position:center;
    }   
    .img5{ 
        grid-column: 3/4;
        grid-row: 2/3;
        background-image: url(..//GaleriadeFotos/naturalezamuerta.jpg);
        background-size: cover;
        background-position:center;
}
    .img6{
        grid-column: 1/3;
        grid-row: 3/4;
        background-image: url(..//GaleriadeFotos/hospitaldeclinicas.jpg);
        background-size: cover;
        background-position:center;
    }
    .img7{
        grid-column: 3/4;
        grid-row: 3/4;
        background-image: url(..//GaleriadeFotos/muralmanuelita.jpg);
        background-size: cover;
        background-position:center
}
}


@media only screen and (min-width:768px){
    .titulo__h1--sizegaleria {
        font-size: 40px;
        text-align: center;
        margin-left: 10rem;
        margin-top: 8px;
            .titulo__h1--colorgaleria {
            text-align: center;
        }  
    }
    .galeriadefotos .contenedor{
        grid-template-columns: repeat(4, 1fr);
}  
.img1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/terracota.jpg);
    background-size: cover;
    background-position:center;
}
.img2{
    grid-column: 2/3;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/reproduccion.jpg);
    background-size: cover;
    background-position:center;
}

.img3{
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/condorandino.JPG);
    background-size: cover;
    background-position:center;
}
.img4{
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url(..//GaleriadeFotos/tomates.jpg);
    background-size: cover;
    background-position:center;
}
.img5{
    grid-column:4/5;
    grid-row: 2/3;
    background-image: url(..//GaleriadeFotos/naturalezamuerta.jpg);
    background-size: cover;
    background-position:center;
}
.img6{
    grid-column: 1/7;
    grid-row: 3/4;
    background-image: url(..//GaleriadeFotos/hospitaldeclinicas.jpg);
    background-size: cover;
    background-position:center;
}
.img7{
    grid-column: 3/5;
    grid-row: 3/4;
    background-image: url(..//GaleriadeFotos/muralmanuelita.jpg);
    background-size: cover;
    background-position:center;
}
}
.footer__galeria{
    background-color:rgba(215, 128, 250, 0.637) ;
    width: 100%;
    height: 30px;
    color: #050505;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
    font-variant: small-caps;
    padding-top: 2rem;
}