@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

.bodyindex {
  background-color: rgba(250, 159, 186, 0.904);
}

.main__h1--colorfondo {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.titulo__h1--font {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo__h1--size {
  font-size: 40px;
  margin-left: 9rem;
  margin-top: 8px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.section__parrafo__h2--style {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.biografia--estilo .massobremi {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.biografia--estilo .link__bio h3 {
  font-size: 18px;
  color: #050505;
  text-decoration: underline;
}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.section__h2--style {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.nav__menu--colorfondo {
  background-color: rgba(250, 159, 186, 0.904);
}

.ul__navbar--decoration {
  text-decoration: underline;
}

.main__carousel .sec {
  width: 100%;
}

.main__carousel .carousel-inner img {
  width: 100%;
  height: 100%;
}

.main__carousel .carousel-inner img .carousel-indicators li {
  height: 6px;
  width: 40px;
}

.redes__index:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.imagenes:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.footer__index--estilo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#71c466), to(#355c2f));
  background-image: linear-gradient(#71c466, #355c2f);
  height: 90px;
  color: #050505;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
  font-variant: small-caps;
}

.footer__index--estilo .footer__nav__index {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #050505;
}

.footer__index--estilo .footer__nav__index .nav__index {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__index--estilo .footer__nav__index .nav__index li a {
  color: black;
  text-decoration: underline;
}

.footer__index--estilo p {
  padding-top: 9px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.section__article--color1 {
  background-color: rgba(250, 200, 142, 0.884);
}

.section__article--color2 {
  background-color: #edf044;
}

.section__article--color3 {
  background-color: #f8823e;
}

.section__article--color4 {
  background-color: #df372b;
}

.section__article--color5 {
  background-color: #caa271;
}

.section__article--color6 {
  background-color: #98d470;
}

.section__index__redes {
  background-color: #71ce65;
}

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 576px) {
  .titulo__h1--size {
    font-size: 21px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 8px;
  }
  .redesenIndex {
    width: 12%;
    margin-left: 0px;
    margin-top: 1px;
    padding-left: 0px;
    padding-top: 1px;
    text-decoration: none;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
  }
  .massobremi {
    font-size: 15px;
  }
  .article__p--size {
    font-size: 13px;
  }
  .imagenes {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .footer__index--estilo {
    font-size: 11px;
  }
  .footer__index--estilo .nav__index {
    font-size: 11px;
  }
  .footer__index--estilo p {
    font-size: 10px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .titulo__h1--size {
    font-size: 35px;
    margin-left: 0px;
    margin-top: 8px;
    text-align: center;
  }
  .titulo__h1--size .titulo__h1--color {
    text-align: center;
  }
  .imagenes {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

@media only screen and (min-width: 993px) {
  .titulo__h1--size {
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.navtienda {
  float: right;
}

.navtienda ul {
  list-style: none;
}

.navtienda ul li {
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.navtienda ul li a {
  text-decoration: none;
  color: #0a0a0a;
  font-size: 18px;
  text-decoration: underline;
}

.bodytienda {
  background-color: #b0c6d4;
}

.main__h1--colortienda {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.titulo__h1--fonttienda {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo__h1--sizetienda {
  font-size: 40px;
  margin-left: 10rem;
  margin-top: 8px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.sectiontienda2 {
  width: 100%;
  height: 80vh;
  background-image: url(../img/pinceles.jpg);
  background-size: cover;
  background-color: rgba(60, 127, 253, 0.637);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 0px;
}

.section__bienvenida {
  background-color: rgba(117, 164, 252, 0.637);
  margin-top: 10px;
}

.section__bienvenida .h2__bienvenida {
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
  margin-left: 16px;
  margin-top: 10px;
}

.section__encabezadoTienda {
  background-color: rgba(253, 252, 250, 0.274);
}

.section__encabezadoTienda .encabezadoTienda {
  font-size: 25px;
}

@media (max-width: 576px) {
  .titulo__h1--sizetienda {
    font-size: 21px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 8px;
  }
  .sectiontienda2 {
    width: 100%;
    height: 30vh;
  }
  .section__encabezadoTienda {
    background-color: rgba(253, 252, 250, 0.274);
  }
  .section__encabezadoTienda .encabezadoTienda {
    font-size: 14px;
  }
  .h2__bienvenida {
    font-size: 19px;
  }
  .imagenesTiendadeventa {
    width: 80%;
    text-align: center;
  }
  .imagenesTiendadeventa .texto__tienda {
    background-color: rgba(252, 251, 248, 0.274);
    height: 6vh;
    width: 99%;
    border: 1px solid rgba(192, 192, 245, 0.808);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin-left: 4px;
  }
  .footer__tienda {
    font-size: 11px;
  }
  .footer__tienda .nav__tienda {
    font-size: 11px;
  }
  .footer__tienda p {
    font-size: 11px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .titulo__h1--sizetienda {
    font-size: 35px;
    margin-left: 0px;
    margin-top: 8px;
    text-align: center;
  }
  .titulo__h1--sizetienda .titulo__h1--color {
    text-align: center;
  }
  .sectiontienda2 {
    width: 100%;
    height: 49vh;
  }
  .h2__bienvenida {
    font-size: 30px;
  }
  .section__encabezadoTienda {
    background-color: rgba(253, 252, 250, 0.274);
  }
  .section__encabezadoTienda .encabezadoTienda {
    font-size: 22px;
  }
  .imagenesTiendadeventa .texto__tienda {
    background-color: rgba(252, 251, 248, 0.274);
    height: 5vh;
    width: 99%;
    font-size: 13px;
    border: 1px solid rgba(192, 192, 245, 0.808);
  }
}

@media only screen and (min-width: 993px) {
  .titulo__h1--sizetienda {
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
    text-align: center;
  }
  .sectiontienda2 {
    width: 100%;
    height: 80vh;
  }
  .h2__bienvenida {
    font-size: 40px;
  }
  .section__encabezadoTienda {
    background-color: rgba(253, 252, 250, 0.274);
  }
  .section__encabezadoTienda .encabezadoTienda {
    font-size: 25px;
  }
  .texto__tienda {
    background-color: rgba(253, 252, 250, 0.274);
    height: 5vh;
    width: 100%;
    border: 1px solid rgba(192, 192, 245, 0.808);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
  }
}

.imagenesTiendadeventa {
  text-align: center;
  border: 2px solid, #f5f5f7;
  margin-top: 1rem;
}

.texto__tienda {
  background-color: rgba(253, 252, 250, 0.274);
  height: 5vh;
  width: 99%;
  border: 1px solid rgba(192, 192, 245, 0.808);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
}

.footer__tienda {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#aabeca), to(#66737a));
  background-image: linear-gradient(#aabeca, #66737a);
  height: 90px;
  color: #050505;
  font-size: 16px;
  text-align: center;
  font-variant: small-caps;
}

.footer__tienda .footer__nav__tienda {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #050505;
}

.footer__tienda .footer__nav__tienda .nav__tienda {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__tienda .footer__nav__tienda .nav__tienda li a {
  color: black;
  text-decoration: underline;
}

.footer__tienda p {
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.navgaleria {
  float: right;
}

.navgaleria ul {
  list-style: none;
}

.navgaleria ul li {
  display: inline-block;
  margin-right: 20px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.navgaleria ul li a {
  text-decoration: none;
  color: #07000e;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.bodygaleria {
  background-color: rgba(202, 143, 236, 0.61);
}

.main__h1--colorgaleria {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.titulo__h1--fontgaleria {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo__h1--sizegaleria {
  font-size: 30px;
  margin-left: 10rem;
  margin-top: 8px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.galeriadefotos {
  height: 800px;
  width: 100%;
  background-color: rgba(214, 136, 250, 0.788);
  margin-bottom: 50px;
  margin-top: 16px;
}

.galeriadefotos h2 {
  min-height: 19px;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-decoration: underline #240238;
          text-decoration: underline #240238;
  float: left;
  margin-left: 19px;
  margin-top: 12px;
}

.galeriadefotos .contenedor {
  width: 100%;
  height: 800px;
  background-color: #d7a0e7;
  display: -ms-grid;
  display: grid;
}

.galeriadefotos .imgg {
  border: 2px solid rgba(255, 255, 255, 0.733);
}

.imgg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .galeriadefotos .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .imgg:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
  }
  .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-image: url(../GaleriadeFotos/hospitaldeclinicas.jpg);
    background-size: cover;
    background-position: center;
  }
  .img2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url(../GaleriadeFotos/tomates.jpg);
    background-size: cover;
    background-position: center;
  }
  .img3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background-image: url(../GaleriadeFotos/condorandino.JPG);
    background-size: cover;
    background-position: center;
  }
  .img4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(../GaleriadeFotos/naturalezamuerta.jpg);
    background-size: cover;
    background-position: center;
  }
  .img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    background-image: url(../GaleriadeFotos/muralmanuelita.jpg);
    background-size: cover;
    background-position: center;
  }
  .img6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    background-image: url(../GaleriadeFotos/reproduccion.jpg);
    background-size: cover;
    background-position: center;
  }
  .img7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    background-image: url(../GaleriadeFotos/terracota.jpg);
    background-size: cover;
    background-position: center;
  }
  .footer__galeria {
    font-size: 10px;
  }
}

/*--Medias titulo de la pagina--*/
@media (max-width: 576px) {
  .titulo__h1--sizegaleria {
    font-size: 21px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 8px;
  }
  .galeriadefotos .contenedor {
    padding-bottom: 1rem;
  }
  .footer__galeria {
    font-size: 11px;
  }
  .footer__galeria .nav__galeria {
    font-size: 11px;
  }
  .footer__galeria p {
    font-size: 11px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .titulo__h1--sizegaleria {
    font-size: 35px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
    margin-top: 8px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .titulo__h1--sizegaleria .titulo__h1--colorgaleria {
    text-align: center;
  }
}

@media only screen and (min-width: 993px) {
  .titulo__h1--sizegaleria {
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
    text-align: center;
  }
}

/*--fin media TITULO pagina--*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .galeriadefotos .contenedor {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/terracota.jpg);
    background-size: cover;
    background-position: center;
  }
  .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-image: url(../GaleriadeFotos/tomates.jpg);
    background-size: cover;
    background-position: center;
  }
  .img3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url(../GaleriadeFotos/reproduccion.jpg);
    background-size: cover;
    background-position: center;
  }
  .img4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/condorandino.JPG);
    background-size: cover;
    background-position: center;
  }
  .img5 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url(..//GaleriadeFotos/naturalezamuerta.jpg);
    background-size: cover;
    background-position: center;
  }
  .img6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(..//GaleriadeFotos/hospitaldeclinicas.jpg);
    background-size: cover;
    background-position: center;
  }
  .img7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(..//GaleriadeFotos/muralmanuelita.jpg);
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (min-width: 768px) {
  .galeriadefotos .contenedor {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    padding-bottom: 3rem;
  }
  .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/terracota.jpg);
    background-size: cover;
    background-position: center;
  }
  .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/reproduccion.jpg);
    background-size: cover;
    background-position: center;
  }
  .img3 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    background-image: url(..//GaleriadeFotos/condorandino.JPG);
    background-size: cover;
    background-position: center;
  }
  .img4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-image: url(..//GaleriadeFotos/tomates.jpg);
    background-size: cover;
    background-position: center;
  }
  .img5 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    background-image: url(..//GaleriadeFotos/naturalezamuerta.jpg);
    background-size: cover;
    background-position: center;
  }
  .img6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(..//GaleriadeFotos/hospitaldeclinicas.jpg);
    background-size: cover;
    background-position: center;
  }
  .img7 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    background-image: url(..//GaleriadeFotos/muralmanuelita.jpg);
    background-size: cover;
    background-position: center;
  }
}

.footer__galeria {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 128, 250, 0.637)), to(rgba(112, 68, 129, 0.925)));
  background-image: linear-gradient(rgba(215, 128, 250, 0.637), rgba(112, 68, 129, 0.925));
  height: 90px;
  color: #050505;
  font-size: 16px;
  text-align: center;
  font-variant: small-caps;
}

.footer__galeria .footer__nav__galeria {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #050505;
}

.footer__galeria .footer__nav__galeria .nav__galeria {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__galeria .footer__nav__galeria .nav__galeria li a {
  color: black;
  text-decoration: underline;
}

.footer__galeria p {
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main__h1--colorexpo {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.titulo__h1--fontexpo {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo__h1--sizeexpo {
  font-size: 40px;
  margin-left: 10rem;
  margin-top: 8px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.navexpo {
  float: right;
}

.navexpo ul {
  list-style: none;
}

.navexpo ul li {
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.navexpo ul li a {
  text-decoration: none;
  color: #00000c;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: underline;
}

.section__tituloexpo {
  background-color: #7db8ae;
  margin-top: 10px;
}

.section__tituloexpo .h2__exposiciones {
  color: #01000c;
  font-size: 25px;
  text-decoration: underline;
  margin-left: 16px;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bodyexpo {
  background-color: #caeee7;
}

.main__carousel__expos {
  border: 9px solid #e4faf5ce;
}

@media only screen and (max-width: 420px) {
  .fotocarousel {
    width: 100%;
    height: 45vh;
  }
  .card__estilo {
    width: 2%;
    margin: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 421px) and (max-width: 576px) {
  .fotocarousel {
    width: 100%;
    height: 70vh;
  }
  .card__estilo {
    margin: 0px;
    padding-right: 26rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  .titulo__h1--sizeexpo {
    font-size: 21px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 8px;
  }
  .section__tituloexpo {
    height: 50px;
  }
  .section__tituloexpo .h2__exposiciones {
    font-size: 19px;
  }
  .section__box--diseño {
    width: 100%;
    color: #181818;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .section__box--diseño .box {
    height: 60vh;
    width: 100%;
    background-color: rgba(192, 231, 225, 0.842);
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 13px;
    font-size: 11px;
    padding: 20px 25px 25px 15px;
  }
  .section__box--diseño .box .textobox1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 12px;
    padding-bottom: 0px;
    margin-top: 10px;
  }
  .section__box--diseño .box2 {
    height: 55vh;
    width: 100%;
    background-color: #a7dad1;
    color: #161616;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 13px;
    font-size: 11px;
    padding: 20px 25px 25px 15px;
  }
  .section__box--diseño .box2 .textobox2 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  .section__box--diseño .box3 {
    height: 80vh;
    width: 100%;
    background-color: rgba(192, 231, 225, 0.842);
    color: #1d1d1d;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    line-height: 12px;
    font-size: 11px;
    padding: 20px 25px 25px 15px;
  }
  .section__box--diseño .box3 .textobox2 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-bottom: 0px;
    margin-bottom: 12px;
    margin-top: 10px;
  }
  .section__box--diseño .box3 dd {
    font-size: 10px;
  }
  .section__box--diseño .box4 {
    height: 70vh;
    width: 100%;
    background-color: #a7dad1;
    color: #161616;
    text-align: center;
    line-height: 10px;
    font-size: 11px;
    padding-top: 25px;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__box--diseño .box4 .textobox4 {
    font-size: 16px;
  }
  .section__box--diseño .box4 .notas dl dd {
    font-size: 11px;
  }
  .card__estilo {
    width: 20%;
    margin: 0px;
    padding-right: 26rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer__expo {
    font-size: 11px;
  }
  .footer__expo .nav__expo {
    font-size: 11px;
  }
  .footer__expo p {
    font-size: 11px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .titulo__h1--sizeexpo {
    font-size: 35px;
    margin-left: 0px;
    margin-top: 8px;
    text-align: center;
  }
  .titulo__h1--sizeexpo .titulo__h1--colorexpo {
    text-align: center;
  }
  .section__tituloexpo .h2__exposiciones {
    font-size: 30px;
  }
  .fotocarousel {
    width: 100%;
    height: 70vh;
  }
  .section__box--diseño {
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .section__box--diseño .box {
    height: 80vh;
    width: 100%;
    background-color: rgba(192, 231, 225, 0.842);
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
  }
  .section__box--diseño .box .textobox1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  .section__box--diseño .box2 {
    height: 55vh;
    width: 100%;
    background-color: #a7dad1;
    color: #161616;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
  }
  .section__box--diseño .box2 .textobox2 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0px;
  }
  .section__box--diseño .box3 {
    height: 100vh;
    width: 100%;
    background-color: rgba(192, 231, 225, 0.842);
    color: #1d1d1d;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
  }
  .section__box--diseño .box3 .textobox2 {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0px;
  }
  .section__box--diseño .box4 {
    height: 70vh;
    width: 100%;
    background-color: #a7dad1;
    color: #1d1d1d;
    text-align: center;
    line-height: 28px;
    font-size: 10px;
    padding: 30px 35px 35px 25px;
  }
  .section__box--diseño .box4 .textobox4 {
    font-size: 16px;
    padding: 0px;
    margin-bottom: 15px;
  }
  .section__card {
    width: 20%;
  }
  .card__estilo {
    width: 20%;
    margin: 0px;
    padding-right: 23rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .article__fotosalpie .imagenesPie .expoarmenia-icon,
  .article__fotosalpie .imagenesPie .expoescultura-icon {
    height: 40vh;
    width: 30%;
  }
  .article__fotosalpie .imagenesPie .bucle-1 {
    width: 100%;
    height: 11vh;
    background-color: rgba(219, 239, 241, 0.719);
    border: 1px inset rgba(197, 235, 235, 0.911);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    padding-top: 5px;
    line-height: 14px;
    text-align: center;
  }
  .article__fotosalpie .imagenesPie .bucle-2 {
    width: 100%;
    height: 11vh;
    background-color: rgba(208, 234, 236, 0.719);
    border: 1px inset rgba(197, 235, 235, 0.911);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    padding-top: 5px;
    line-height: 14px;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .titulo__h1--sizeexpo {
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
  }
  .section__tituloexpo .h2__exposiciones {
    font-size: 40px;
  }
  .fotocarousel {
    width: 100%;
    height: 69vh;
  }
  .section__box--diseño {
    width: 100%;
    color: #181818;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
  }
  .section__box--diseño .box {
    height: 60vh;
    width: 100%;
    background-color: rgba(192, 231, 225, 0.842);
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 30px;
    font-size: 20px;
    padding: 30px 50px 50px 30px;
  }
  .section__box--diseño .box .textobox1 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    margin-bottom: 35px;
  }
  .section__box--diseño .box2 {
    height: 50vh;
    width: 100%;
    background-color: rgba(167, 218, 209, 0.315);
    color: #161616;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 30px 50px 50px 30px;
  }
  .section__box--diseño .box2 .textobox2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    margin-bottom: 35px;
  }
  .section__box--diseño .box3 {
    height: 80vh;
    width: 100%;
    background-color: rgba(192, 231, 225, 0.842);
    color: #1d1d1d;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    padding: 30px 50px 50px 30px;
  }
  .section__box--diseño .box3 .textobox2 {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    margin-bottom: 35px;
  }
  .article__fotosalpie .bucle-1 {
    width: 100%;
    height: 50vh;
    background-color: rgba(219, 239, 241, 0.719);
    border: 1px inset rgba(197, 235, 235, 0.911);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
  }
  .article__fotosalpie .bucle-2 {
    width: 100%;
    height: 50vh;
    background-color: rgba(208, 234, 236, 0.719);
    border: 1px inset rgba(197, 235, 235, 0.911);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 11px;
    line-height: 25px;
    text-align: center;
  }
}

/*--Fin Media--*/
.section__box--diseño {
  color: #181818;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
}

.textobox1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 0px;
}

.textobox2 {
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.textobox4 {
  text-decoration: underline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.box {
  height: 60vh;
  width: 100%;
  background-color: rgba(192, 231, 225, 0.842);
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1px;
}

.box2 {
  height: 50vh;
  width: 100%;
  background-color: #a7dad1;
  color: #161616;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  padding: 32px 25px 10px 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box3 {
  height: 70vh;
  width: 100%;
  background-color: rgba(192, 231, 225, 0.842);
  color: #1d1d1d;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  padding: 20px 25px 25px 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box3 dl dd {
  margin-top: 15px;
}

.box4 {
  height: 60vh;
  width: 100%;
  background-color: #a7dad1;
  color: #161616;
  font-weight: bold;
  text-align: center;
  line-height: 25px;
  font-size: 15px;
  padding: 20px 25px 25px 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box4 dl {
  margin-top: 25px;
}

.article__fotosalpie {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.article__fotosalpie .imagenExpo {
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  -webkit-box-shadow: 2px 10px 25px #050505ea;
          box-shadow: 2px 10px 25px #050505ea;
  text-align: center;
}

.bucle-1 {
  width: 100%;
  height: 9vh;
  background-color: rgba(230, 243, 243, 0.87);
  border: 1px inset rgba(93, 173, 173, 0.452);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}

.bucle-2 {
  width: 100%;
  height: 9vh;
  background-color: rgba(219, 238, 238, 0.87);
  border: 1px inset rgba(93, 173, 173, 0.452);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}

.footer__expo {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bcddd6), to(#95ada9));
  background-image: linear-gradient(#bcddd6, #95ada9);
  height: 90px;
  color: #050505;
  font-size: 16px;
  text-align: center;
  font-variant: small-caps;
}

.footer__expo .footer__nav__expo {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #050505;
}

.footer__expo .footer__nav__expo .nav__expo {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__expo .footer__nav__expo .nav__expo li a {
  color: black;
  text-decoration: underline;
}

.footer__expo p {
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.navcontacto {
  float: right;
}

.navcontacto ul {
  list-style: none;
}

.navcontacto ul li {
  display: inline-block;
  margin-right: 10px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}

.navcontacto ul li a {
  text-decoration: none;
  color: #f4e4fc;
  font-size: 18px;
  text-decoration: underline;
}

.bodycontacto {
  background-color: rgba(135, 216, 189, 0.822);
}

.main__h1--colorcontacto {
  width: 100%;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.titulo__h1--fontcontacto {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.titulo__h1--sizecontacto {
  font-size: 40px;
  margin-left: 10rem;
  margin-top: 8px;
  margin-bottom: 15px;
  letter-spacing: 5px;
}

.section__contacto {
  background-color: rgba(78, 158, 111, 0.274);
}

.section__contacto .h2__contacto {
  font-size: 25px;
  text-decoration: underline;
  margin-left: 16px;
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section__carouselcontacto {
  width: 70%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fotocarouselContacto {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacto__estilo h3 {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contacto__estilo h3 .seguime {
  font-size: 20px;
}

.imagenes__redescont:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 576px) {
  .titulo__h1--sizecontacto {
    font-size: 21px;
    text-align: center;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 8px;
  }
  .section__carouselcontacto {
    width: 75%;
  }
  .contacto__estilo h3 {
    font-size: 13px;
  }
  .seguime {
    font-size: 23px;
  }
  .section__form--style h3 {
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
  }
  .form .ficha {
    height: 100vh;
    text-align: center;
    padding: 35px 35px 35px 35px;
  }
  .datos input {
    width: 10px;
  }
  .datos2 {
    margin-bottom: 5px;
  }
  .datos2 input {
    width: 1%;
  }
  .mail {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .mail input {
    text-align: left;
  }
  .mensaje {
    margin-bottom: 5px;
    margin-top: 4rem;
    padding-left: 16px;
  }
  .mensaje h4 {
    font-size: 15px;
    margin-top: 12px;
    padding-right: 25px;
    text-align: center;
  }
  .mensaje1 {
    margin-top: 15px;
    margin-bottom: 32px;
  }
  .botones {
    margin-left: 0px;
    padding-top: 17px;
    padding-left: 30px;
    padding-bottom: 15px;
  }
  .footer__contacto {
    font-size: 11px;
  }
  .footer__contacto .nav__contacto {
    font-size: 11px;
  }
  .footer__contacto p {
    font-size: 11px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .titulo__h1--sizecontacto {
    font-size: 35px;
    margin-left: 0px;
    margin-top: 8px;
    text-align: center;
  }
  .titulo__h1--sizecontacto .titulo__h1--colorcontacto {
    text-align: center;
  }
  .h2__contacto {
    font-size: 30px;
  }
  .form .ficha {
    height: 95vh;
    padding: 20px 20px 20px 20px;
  }
  .form {
    width: 100%;
    height: 99vh;
  }
  .form .botones {
    margin-left: 0px;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 25px;
  }
}

@media only screen and (min-width: 993px) {
  .titulo__h1--sizecontacto {
    font-size: 40px;
    margin-left: 10rem;
    margin-top: 8px;
    margin-bottom: 15px;
    letter-spacing: 5px;
  }
  .h2__contacto {
    font-size: 40px;
  }
  .form .ficha {
    height: 100vh;
    text-align: center;
    padding: 25px 25px 25px 25px;
  }
  .mensaje {
    margin-top: 5px;
  }
  .botones {
    margin-left: 0px;
    margin-top: 15px;
    padding-top: 52px;
    padding-left: 19px;
    text-align: center;
    line-height: 5px;
  }
}

.section__form--style {
  padding-left: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section__form--style h3 {
  font-size: 22px;
  margin-top: 5px;
  text-align: center;
}

.form {
  height: 100vh;
  width: 81%;
  margin-bottom: 3px;
  padding: 20px 20px 55px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form .ficha {
  width: 100%;
  height: 88vh;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid rgba(26, 104, 61, 0.432);
  -webkit-box-shadow: 7px 13px 35px rgba(7, 7, 7, 0.473);
          box-shadow: 7px 13px 35px rgba(7, 7, 7, 0.473);
  border-radius: 10px;
  padding: 12px 12px 12px 12px;
}

.datos {
  height: 40px;
  margin-top: 2rem;
  margin-left: 1rem;
  line-height: 5px;
}

.datos input {
  width: 51%;
  background-color: rgba(253, 255, 254, 0.63);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(26, 104, 61, 0.863);
}

.datos2 {
  height: 10px;
  margin-left: 1rem;
  line-height: 5px;
  border-radius: 10px;
}

.datos2 input {
  width: 70%;
  background-color: rgba(253, 255, 254, 0.63);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(26, 104, 61, 0.863);
}

.mail {
  height: 10px;
  margin-top: 2rem;
  margin-left: 1rem;
  line-height: 5px;
  border-radius: 10px;
}

.mail input {
  width: 79%;
  background-color: rgba(253, 255, 254, 0.63);
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(26, 104, 61, 0.863);
}

.mensaje {
  height: 20px;
  margin-top: 3rem;
  margin-left: 1rem;
  line-height: 5px;
  border-radius: 10px;
}

.mensaje #texto {
  background-color: rgba(253, 255, 254, 0.63);
  border-bottom: 1px solid rgba(26, 104, 61, 0.863);
}

.mensaje h4 {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.mensaje1 {
  margin-top: 20px;
}

#texto {
  width: 90%;
  height: 30vh;
  margin-bottom: 25px;
}

.botones {
  width: 50px;
  height: 60px;
  margin-top: 9rem;
  margin-left: 1rem;
  line-height: 25px;
}

.botones input {
  width: 100px;
  height: 30px;
  background-color: rgba(253, 255, 254, 0.63);
  border-bottom: 1px solid rgba(26, 104, 61, 0.788);
  padding: 2px 2px 3px 3px;
}

.footer__contacto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(138, 221, 193, 0.822)), to(rgba(73, 117, 103, 0.938)));
  background-image: linear-gradient(rgba(138, 221, 193, 0.822), rgba(73, 117, 103, 0.938));
  height: 90px;
  color: #050505;
  font-size: 16px;
  text-align: center;
  font-variant: small-caps;
}

.footer__contacto .footer__nav__contacto {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #050505;
}

.footer__contacto .footer__nav__contacto .nav__contacto {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__contacto .footer__nav__contacto .nav__contacto li a {
  color: black;
  text-decoration: underline;
}

.footer__contacto p {
  padding-top: 10px;
}
/*# sourceMappingURL=estilos.css.map */