* {
    margin: 0;
    padding: 0;
}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 90%;
    margin-bottom: 10px;
    justify-content: space-around;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
}

#boton-carrito {
    width: 70px;
    height: 45px;
    font-size: 20px;
    border: none;
    background-image: url(../img/carrito.png);
    filter:alpha(opacity=100);
    background-size: cover;
    background-position:bottom;
    padding: 10px 25px;
    transition: all .3s;
}
#contadorCarrito{
    width: 30px;
    background-color: rgba(250, 151, 4, 0.876);
    color: rgb(254, 254, 254);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 32px;
    margin-bottom: 500px;
    border-radius: 100%;
}
#boton-carrito:hover {
    cursor: pointer;
    color: rgb(255, 140, 0);
    background-color: royalblue;
}
#boton-carrito:focus {
    outline: none;
}

#contenedor-productos {
    max-width: 1100px;
    margin: 65px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}
.producto {
    max-width: 30%;
    padding: 11px;
    margin: 11px;
    margin-bottom: 20px;
    box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
    font-weight: 700;
}
#botonComprar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    border:rgb(75, 110, 213);
}

.boton-agregar {
    background-color: royalblue;
    color: white;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
    border:rgb(75, 110, 213);
}
.boton-agregar:hover {
    cursor: pointer;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: rgba(246, 250, 252, 0.928);
    border-style:dashed;
    min-width: 700px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: rgb(75, 110, 213);
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid rgb(137, 199, 219);
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border: 3px solid royalblue;
}

.botonEliminar {
    color: rgb(78, 219, 76);
    border: none;
    font-size: 20px;
}

.botonEliminar:hover {
    cursor: pointer;
}
.botonEliminar:focus {
    outline: none;
}
